<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <table>
                    <tr>
                       
                        <th>Customer name</th>
                        <th>Address</th>
                        <th>Product Name</th>
                        <th>quantity</th>
                        <th>Total Price</th>
                        <th>Order date</th>
                        <th>Status</th>
                    </tr>
                    {% for o in orders %}
                    <tr>
                        <td>{{o.customer_id.cust_name}}</td>
                        <td>{{o.shipping_address}}</td>
                        <td>{{o.product_id.product_name}}</td>
                        <td>{{o.quantity}}</td>
                        <td>{{o.total_amount}}</td>
                        <td>{{o.order_date}}</td>
                        <td>{{o.status}}</td>
                        <td><img src="{{o.product_id.product_image.url}}" height="200px" width="200px"></td>
    
                        </tr>
                        {% endfor %}
                        

                </table>

            </div>

        </div>
    </div>
</body>
</html>